@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

:root {
    --primary-color: #34D399;
    --dark-gray: #6B7280;
    --off-white:#F3F4F6;
}

body {
    font-family: 'Noto Sans JP',
        sans-serif;
        margin: 0px;
}

hr {
    margin: 2.5rem 0;
}
/**spaces**/
.padding-md{
    padding: 2rem;
}



/**containers**/
.container {
    padding-left: 1 rem;
    padding-right: 1 rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}



/**links**/
.link {
    /* box-sizing: border-box; */
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: #f0fff0;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}


/**lists**/


.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0 0.5rem;
}


/**nav**/
.navigation {
    background-color: var(--primary-color);
    color: #f0fff0;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.2rem;
}


.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: #f0fff0;
}

.navigation .link-active {
    font-weight: bold;
}


/**header**/
.hero {
    padding: 2rem;
}

.hero .hero-image {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color)
}

/**sections**/
.section{
    padding: 2rem;
}
.section h1 {
    text-align: center;
    /* padding: 2rem; */
}

.section-offwhite{
    background-color: var(--off-white);
}


/**footer**/
footer{
    background-color: var(--primary-color);
    padding: 2rem 0rem; 
    text-align: center;
    color:#f0fff0;
    border-top-right-radius: 1rem;;
}

.footer .link{
    color:#f0fff0;
}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
}
.footer ul{
    padding-inline-start: 0px;
}